<div>
  <h2>3 khóa học được quan tâm nhất</h2>
  <% for( let i = 0; i < proCourses.length; i++ ) { %>
  <!-- 1 card khóa học -->
  <%- include('../partials/card-course', {course: proCourses[i]}) %> <% } %>

  <h2>10 khóa học được xem nhiều nhất</h2>
  <% for( let i = 0; i < mostViewCourses.length; i++ ) { %> <%-
  include('../partials/card-course', {course: mostViewCourses[i]}) %> <% } %>

  <h2>10 khóa học mới nhất</h2>
  <% for( let i = 0; i < latestCourses.length; i++ ) { %> <%-
  include('../partials/card-course', {course: latestCourses[i]}) %> <% } %>

  <h2>5 lĩnh vực được xem nhiều nhất</h2>
  <% for( let i = 0; i < latestCategory.length; i++ ) { %>
  <a href="/courses/<%= latestCategory[i].name %>"
    ><button class="btn btn-outline-warning">
      <%= latestCategory[i].name %>
    </button></a
  >
  <% } %>
</div>
