<style>
    .card-courses {
        display: inline-block;
    }

    .courses-detail {
        display: none;
    }

    .card-courses:hover .courses-detail {
        display: block;
    }

    .card-courses {
        margin: auto;
        width: 285px;
    }
</style>
<a href="/course/<%= course.name %>">
    <div class="card-courses">
        <div class="courses">
            <img class="poster" src="<%= course.poster%>" width="285px" height="150px">
            <div>
                <h4 style="display: inline-block;" class="name"><%=  course.name%> </h4>
                <div style="display: inline-block;">(<%= course.numberOfView%> lượt xem)</div>
            </div>

            <p class="lecturer">Giáo viên: <%=  course.idLecturer.name%></p>
            <p class="evaluation" style="display: inline-block;"><%=  course.evaluationPoint%></p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p style="display: inline-block;" class="numberOfEvaluation">(<%=  course.numberOfEvaluation%> luợt
                đánh giá)
            </p>
            <p class="tuition">$<%=  course.tuition%></p>
        </div>
        <div class="courses-detail">
            <p><%=  course.numberOfStudent%> đang học</p>
            <p>Chủ đề: <%=  course.idCourseTopic.name%></p>
        </div>
    </div>
</a>