<style>
    .wish-courses {
        display: inline-block;
    }

    .courses-detail {
        display: none;
    }

    .wish-courses:hover .courses-detail {
        display: block;
    }

    .wish-courses {
        margin: auto;
        width: 285px;
    }

</style>
<div class="jumbotron">
    <% if(isAuthenticated) {%>
    <%- include('../partials/toolbarAuth'); %>
    <% } %>
    <%  if(!isAuthenticated){ %>
    <%- include('../partials/toolbar'); %>
    <% } %>
</div>
<div>
    <h2>Các khóa học nổi bật nhất tuần qua</h2>
    <% for( let i = 0; i < proCourses.length; i++ ) { %>
    <a href="/course/<%= proCourses[i].name %>">
        <div class="wish-courses" data-id="<%= proCourses[i]._id %>">
            <div class="courses">
                <img src="<%= proCourses[i].poster%>" width="285px" height="150px">
                <h4 class="name" data-id="<%= proCourses[i]._id %>"><%=  proCourses[i].name%> </h4>
                <p class="lecturer"><%=  proCourses[i].idLecturer.name%></p>
                <p class="evaluation" style="display: inline-block;"><%=  proCourses[i].evaluationPoint%></p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <p style="display: inline-block;" class="numberOfEvaluation"><%=  proCourses[i].numberOfEvaluation%>
                </p>
                <p class="tuition">$<%=  proCourses[i].tuition%></p>
            </div>
            <div class="courses-detail">
                <p><%=  proCourses[i].numberOfStudent%> Studying</p>
                <p><%=  proCourses[i].idCourseCategory.name%></p>
            </div>
        </div>
    </a>
    <% } %>
</div>
<form id="myForm" action="" method="GET">
    <!-- <input type="text" name="courseID" id="courseID"> -->
</form>
<script type="text/javascript">
    // $('.prom-courses').on('click', (e) => {
    //     console.log('HELLO');
    // })
    
</script>