<%- include ('../partials/messages') %> 
<a class="btn btn-primary" href="/" role="button">
    <i class="fa fa-home" aria-hidden="true"></i>
    HOME
</a>
<a class="btn btn-info" href="/users/updateInfor" role="button">
    CẬP NHẬT
</a>
<div class="container">
    <h1 class="mt-4">Tài khoản</h1>
    <p class="lead mb-3">Xin chào <%= user.name %></p>
    <p class="lead mb-3">Your email: <%= user.email %></p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <p><a href="/users/updateAvatar"><img src='<%= user.avatar %>' width="100px" height="100px"></a></p>
    <p class="lead mb-3">Your gender: <%= user.gender %></p>
</div>