<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d62abf4f8f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js" integrity="sha512-vDrq7v1F/VUDuBTB+eILVfb9ErriIMW7Dn3JC/HOQLI8ZzTBTRRKrKJO3vfMmZFQpEGVpi+EYJFatPgVFxOKGA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css" integrity="sha512-8KeRJXvPns3KF9uGWdZW18Azo4c1SG8dy2IqiMBq8Il1wdj7EWtR3EGLwj+DnvznrRjn0oyBU+OEwJk7A79n7w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/stylesheet.css">
    
</head>
<body>
    <div id="container">
        <%- include('../common/header',{user: user}); -%>
        <%- include('../common/column_left'); -%>
        <div id="content">
            <div class="page-header">
                <div class="container-fluid">
                    <div class="pull-right">
                        <button class="btn btn-primary" id="addCategory">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <h2><%= data.title %></h2>
                </div>
            </div>
            <% if (data.Categories) { %>
                <div class="Courses_list text-center">
                    <div class="col-sm-10 center ">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                      <td class="text-left"><a>Tên</a></td>
                                      <td class="text-left">Số lượt xem</td>
                                      <td class="text-left"><a>Số lượt đăng ký</a></td>
                                      <td class="text-left"><a>Action</a></td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% data.Categories.forEach((Category) => { %>
                                        <tr>
                                            <% if(Category.idCourseCategory){ %> 
                                                <td class="text-left level-2-category"><a> <%=Category.idCourseCategory.name %> --> <%=Category.name %> </a></td>
                                            <% }else{ %>
                                                <td class="text-left"><a>  <%=Category.name %> </a></td>
                                            <% } %> 

                                            <td class="text-left"><a> <%=Category.numberOfView %></a></td>
                                            <td class="text-left"><a> <%=Category.numberOfSignUp %></a></td>
                                            <td class="text-left">
                                                <input type="hidden" value="<%=Category._id %>">
                                                <button class="btn btn-primary viewCategory">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-danger deleteCategory">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                  </tbody>
                            </table>
                       
                        </div>
                    </div>
                </div>
                
               

            <% } %>
        </div>
        <%- include('../common/footer'); -%>
    </div>
    
</body>
<script>
    $(document).ready(function() {
        $('.viewCategory').on('click', function() {
            id = $(this).parent().find("input").val();
            window.location.href = "/admin/course/categoryEdit?id=" + id;
        });


       
        $('.deleteCategory').on('click', function() {

            id = $(this).parent().find("input").val();
            //check before delete
            $.getJSON("/admin/course/categoryDelete-available?id=" + id,function( json ) {
                if(json === 100){
                    $.getJSON("/admin/course/categoryDelete?id=" + id ,function( json ) {
                        if(json === true){
                            alert("Xóa Category thành công");
                        }else{
                            alert("Xóa Category thất bại");
                        }
                        window.location.href = "/admin/course/categoryList";
                    });
                }
                if(json === 301){
                    alert("Vui lòng xóa hết category con");
                }
                if(json === 302){
                    alert("Còn sản phẩm thuộc category này, không thể xóa");
                }
                if(json === 303){
                    alert("Xóa Category thất bại");
                }
            });
          
               
        });
        $('#addCategory').on('click', function() {
            window.location.href = "/admin/course/categoryAdd";
        });
        
    });
</script>
</html>

