<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d62abf4f8f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js" integrity="sha512-vDrq7v1F/VUDuBTB+eILVfb9ErriIMW7Dn3JC/HOQLI8ZzTBTRRKrKJO3vfMmZFQpEGVpi+EYJFatPgVFxOKGA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css" integrity="sha512-8KeRJXvPns3KF9uGWdZW18Azo4c1SG8dy2IqiMBq8Il1wdj7EWtR3EGLwj+DnvznrRjn0oyBU+OEwJk7A79n7w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/stylesheet.css">
    
</head>
<body>
    <div id="container">
        <%- include('../common/header',{user: user}); -%>
        <%- include('../common/column_left'); -%>
        <div id="content">
            <div class="page-header">
                <div class="container-fluid">
                    <div class="pull-right">
                        <button class="btn btn-primary" id="editcategory">
                            <i class="fa fa-save"></i>
                        </button>
                    </div>
                    <h2><%= data.title %></h2>
                </div>
            </div>
            <% if (data.category_info) { %>
            <div class="category-info">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pencil"></i> Thông tin category </h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="post" id="frmUpdateInfocategory">
                                <div class="course-info">
                                        <div class=" info">
                                            <div class="form-group">
                                                <label class ="col-sm-2 control-label" for="my-input">Name:</label>
                                                <div class="col-sm-10">
                                                    <input  class="form-control" type="text" name="name" value="<%=data.category_info.name%>" >
                                                </div>
                                            </div>
                                            <div class="form-group hidden">
                                                <label class ="col-sm-2 control-label" for="my-input">Name:</label>
                                                <div class="col-sm-10">
                                                    <input  class="form-control" type="text" name="id" value="<%=data.category_info._id%>" >
                                                </div>
                                            </div>
                                                <div class="form-group  <% if(!data.category_info.idCourseCategory){ %>hidden<% } %>">
                                                <label class ="col-sm-2 control-label" for="my-input">Parent:</label>
                                                <div class="col-sm-10">
                                                    <select  class="form-control" type="text" name="parent">
                                                    <option value="" > None </option>
                                                    <% data.categories_option.forEach((Category) => { %>
                                                        <% if(data.category_info.idCourseCategory) {%>
                                                            <%if (data.category_info.idCourseCategory.toString() == Category._id.toString()) { %>
                                                                <option value="<%=Category._id%>" selected="selected"> <%=Category.name%></option>
                                                            <% }else{ %>    
                                                                <option value="<%=Category._id%>" > <%=Category.name%></option>
                                                            <% } %>
                                                        <% } %> 
                                                    <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group image">
                                                <label class ="col-sm-2 control-label" for="my-input">Ảnh category:</label>
                                                <div class="col-sm-10">
                                                    <img src="<%=data.category_info.image%>" id="avatar-img">
                                                    <div class="avatar-update">
                                                        <input type="file" name="file" id="file"/>
                                                        <input class="hidden" type="text" name="image" id="image" value="<%=data.category_info.image%>" />
                                                        <button class="btn btn-success" id="avartar-upload" > Thay ảnh Category </button>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <%- include('../common/footer'); -%>
    </div>
    
</body>
<script>
    $(document).ready(function() {
        $('#avartar-upload').on('click', function() {
            var fd = new FormData();
            var files = $('#file')[0].files;
            var id =  $("input[name='id']").val();
            var folder = "/image/category/";
            var folder_cloud = "webctt2/category";
            // Check file selected or not
            if(files.length > 0 ){
            fd.append('file',files[0]);
            $.ajax({
                url: '/admin/upload?&fileType=image&id=' + id + '&folder='+ '&folder_cloud=' + folder_cloud,
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function(response){
                    if(response){
                        var timestamp = new Date().getTime();     
                        var el = document.getElementById("avatar-img");     
                        el.src = response +"?t=" + timestamp; 
                        $("input#image").val(response);
                        alert("upload image success!")
                    }else{
                        alert('file not uploaded');
                    }
                },
            });
            }else{
            alert("Please select a file.");
            }
            return false;
        });
        $('#avatar-img').on('click', function() {
            $('#file').trigger("click");
        });
        function validateForm(){
           
        }
        $('#frmUpdateInfocategory').on('submit', function(e) {
            e.preventDefault();
            id = $("input[name='id']").val();
            parent  = $("select[name='parent']").val();
            if(parent != 0 ){
                $.getJSON("/admin/course/categoryEdit-available?id=" + id,function( json ) {
                    if(json === 100){
                        $("#frmUpdateInfocategory").off("submit").submit();
                    }
                    if(json === 301){
                        alert("Vui lòng xóa hết category con để đổi parent!");
                    }
                });
            }else{
                $("#frmUpdateInfocategory").off("submit").submit();
            }
        });
        $('#editcategory').on('click', function(e) {
            $("#frmUpdateInfocategory").submit();
        });
   });
</script>
</html>

